{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Smart Study Planner</title>
    <link rel="stylesheet" type="text/css" href="{% static 'core/landing_page.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <img class="logo-icon" src="{% static 'images/logo.png' %}" alt="Logo">
            <span>Smart Study Planner</span>
        </div>
        <div class="navbar-links">
            <a href="{% url 'login' %}">เข้าสู่ระบบ</a>
            <a href="{% url 'register' %}" class="btn">ลงทะเบียน</a>
        </div>
    </nav>
    <div class="hero-section">
        <h1>วางแผนการเรียน<br>อย่างฉลาด</h1>
        <a href="{% url 'register' %}" class="btn-primary">เริ่มใช้งาน</a>
    </div>
</body>
</html>